@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(images/bg-header-desktop.png);
  background-color: white;
  background-position: cover;
  background-repeat: no-repeat;
  font-family: "Bai Jamjuree", sans-serif;
}
p,
a {
  color: hsl(201, 11%, 66%);
  line-height: 24px;
}
h1,
h3,
h4 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
.container {
  max-width: 1400px;
  margin: auto;
}
.center {
  text-align: center;
  padding: 0 2rem;
}
.center p {
  max-width: 500px;
  margin: auto;
  margin-bottom: 2rem;
}
.header {
  padding: 7rem 2rem;
}
.logo {
  width: 100px;
}
.computer {
  max-width: 100%;
  margin: auto;
}
.device {
  max-width: 70%;
  margin: 2rem auto;
}
button {
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 10px 18px;
}
button:hover {
  opacity: 0.8;
}
.green {
  margin-right: 4px;
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 2px 0px hsl(171, 66%, 30%);
}
.blue {
  margin-left: 4px;
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 2px 0px hsl(233, 100%, 55%);
}
.flex {
  display: flex;
  margin: 4rem 0;
  align-items: center;
}
.flex > div {
  flex: 1;
}
div.right {
  padding-left: 5rem;
}
div.right p {
  max-width: 350px;
}
h4 {
  margin: 0;
}
.padded > div {
  padding: 0 2rem;
  text-align: center;
}
.padded p {
  max-width: 500px;
  margin: auto;
}
.company_logo img {
  max-width: 100%;
}
footer {
  background-color: hsla(201, 11%, 66%, 0.3);
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem 4rem;
}
footer a:hover {
  color: hsl(171, 66%, 44%);
}
.footer_logo {
  width: 40px;
}
.right_links {
  flex-basis: 30%;
  text-align: right;
  transition: 2s;
}
.right_links img:hover {
  transform: scale(1.1);
  fill: hsl(171, 66%, 44%);
}
.right_links a {
  padding: 6px;
}
.left_links {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
}
.left_links a {
  display: block;
  color: hsl(210, 10%, 33%);
  text-decoration: none;
  line-height: 24px;
}
@media screen and (max-width: 700px) {
  .green {
    margin-left: 0;
  }
  .blue {
    margin-right: 0;
  }
  button {
    display: block;
    width: 100%;
    margin: 20px auto;
  }
  div.right {
    padding-left: 0;
  }
  h4 {
    margin: 25px 0;
  }
  .flex {
    padding: 0 2rem;
  }
  .flex > div {
    margin-bottom: 30px;
  }
  .padded > div {
    padding: 0;
  }
  .flex,
  footer,
  .left_links {
    flex-direction: column;
    text-align: center;
  }
  footer div {
    margin-bottom: 15px;
  }
  .company_logo img {
    margin-bottom: 20px;
  }
  .left_links a:first-child {
    margin-bottom: 15px;
  }
}
